#!/bin/sh
{{ if not (lookPath "nvim") }}
brew install neovim
{{ end }}
{{ if not (lookPath "exa") }}
brew install exa
{{ end }}
{{ if not (lookPath "pyenv") }}
brew install pyenv
{{ end }}
{{ if not (lookPath "pipx") }}
brew install pipx
pipx ensurepath
{{ end }}
{{ if not (lookPath "rg") }}
brew install ripgrep
{{ end }}
{{ if not (lookPath "broot") }}
brew install broot
{{ end }}
{{ if not (lookPath "z") }}
brew install zoxide
{{ end }}
brew install powerlevel10k
brew install --cask homebrew/cask-fonts/font-jetbrains-mono-nerd-font
{{ if not (stat (joinPath .chezmoi.homeDir "bin")) }}
mkdir {{ joinPath .chezmoi.homeDir "bin" }}
{{ end }}

